
.cm-editor .cm-content {
  line-height: 2.2; 
}
.cm-editor .cm-list-item {
  line-height: 2.2;
}
.cm-header {
  line-height: 2;
}

.HyperMD-codeblock {
  line-height: 1.6; /* 或者您想要的数值，例如 1.2, 1.8 等 */

}

.cm-hmd-codeblock{
  font-size: 17px;
  font-family: 'consolas';
}

.cm-comment {
  font-style: italic;
  color: #499936; 
}