
.cm-editor .cm-content {
  line-height: 2.4; 
}
.cm-editor .cm-list-item {
  line-height: 2.4;
}
.cm-header {
  line-height: 2;
}

.HyperMD-codeblock {
  line-height: 1.6; /* 或者您想要的数值，例如 1.2, 1.8 等 */
  font-size: 20px;
}
